RewriteEngine On
DirectoryIndex index index.php
DirectoryIndex services API_integration.php
DirectoryIndex services Consulting.php
DirectoryIndex services Data_Migration.php
DirectoryIndex services manufacturing.php
DirectoryIndex services Omni.php
DirectoryIndex services Industries_Cloud.php
DirectoryIndex services Implementation.php
DirectoryIndex services Industries_Cloud.php
DirectoryIndex services Support_And_Maintenance.php
DirectoryIndex services Testing_Deployment.php

DirectoryIndex admin login_form.php

ErrorDocument 404 /404.html

ErrorDocument 500 /500.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

